// main: style.scss
footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .contact {
    color: $first-text-color;
    font-size: 45px;
    text-align: center;
  }
  .form-inputs {
    width: 300px;
    height: 25px;
    margin-left: calc(50% - 150px);
    font-family: $font-face;
  }
  .form-textarea {
    width: 300px;
    height: 100px;
    margin-left: calc(50% - 150px);
    font-family: $font-face;
  }
  .invia {
    width: 100px;
    height: 35px;
    border-radius: 40px;
    background-color: $first-background-container;
    font-family: $font-face;
    font-size: 20px;
    margin-left: calc(50% - 50px);
  }
  .footer-nav {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    .icone {
      width: 42px;
      height: 35px;
      margin-left: 20px;
      img {
        width: 100%;
      }
    }
  }
  h6 {
    color: $first-text-color;
    text-align: center;
    margin-top: 60px;
    margin-left: calc(100% - 95%)
  }
}

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  footer {
    .form-inputs {
      width: 500px;
      height: 35px;
      margin-left: calc(50% - 250px);
    }
    .form-textarea {
      width: 500px;
      height: 130px;
      margin-left: calc(50% - 250px);
    }
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  footer {
    .form-inputs {
      width: 500px;
      height: 35px;
      margin-left: calc(50% - 250px);
    }
    .form-textarea {
      width: 500px;
      height: 130px;
      margin-left: calc(50% - 250px);
    }
  }
}
