// main: style.scss
header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    .icone {
      width: 42px;
      height: 35px;
      margin-right: 20px;
      img {
        width: 100%;
      }
    }
  }
  .testo-header{
    p {
      text-align: center;
      color: $first-text-color;
      margin-top: 140px;
      font-size: 45px;
    }
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  header {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: right;
    }
    .testo-header {
      font-size: 70px;
    }
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  header {
    nav {
      display: flex;
      flex-direction: row;
      justify-content: right;
      .icone {
        width: 45px;
        height: 40px;
      }
    }
    .testo-header {
      P {
        font-size: 80px;
      }
    }
  }
}
