// main: style.scss
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  .chi-sono, .hard-skills, .soft-skills, .lingue {
    color: $first-text-color;
    font-size: 45px;
    margin-top: 100px;
  }
    .presentazione {
      background-color: $first-background-container;
      padding: 10px;
      border-radius: 40px;
      width: 300px;
      height: 600px;
      font-size: 25px;
    }
    .programmi {
      background-color: $second-background-container;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo-program {
        width: 250px;
        height: 300px;
        margin-top: 80px;
        margin-bottom: 80px;
      }
      // .css {
      //   width: 190px;
      //   height: 250px;
      //   margin-top: 80px;
      // }
      .bootstrap {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 100%;
      }
    }
    .testo-soft-skills, .testo-lingue {
      background-color: $first-background-container;
      color: $second-text-color;
      padding: 10px;
      border-radius: 40px;
      width: 300px;
      height: 300px;
      font-size: 25px;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        .flag {
          width: 20px;
          height: 20px;
        }
      }
    }

  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  main {
    .chi-sono {
      .presentazione {
        width: 600px;
        height: 300px
      }
    }
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  main {
    .chi-sono {
      width: 1000px;
      display: flex;
      justify-content: space-between;
      font-size: 60px;
      h3 {
        width: 300px;
        word-wrap: break-word;
      }
      .presentazione {
        width: 600px;
        height: 300px
      }
    }
    .hard-skills {
      width: 1000px;
      font-size: 60px;
    }
    .programmi {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .logo-program {
        width: 50%;
        img {
          height: 100%;
          width: initial;
        }
      }
    }
    .seconda-parte-main {
      width: 850px;
      display: flex;
      justify-content: space-between;
    }


  }
}
